/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    padding: 10px;
  }
  
  .navbar-logo a {
    text-decoration: none;
    color: #333;
    font-size: 24px;
  }
  
  .navbar-menu {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-right: 10px;
  }
  
  .navbar-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  
  .navbar-menu li a:hover {
    color: #ff5722;
  }
  